page-calendar {

	ion-navbar {
		box-shadow: none;
	}

	.calendar-days {
		color: #fff;
		background-color: map-get($colors, primary);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
		z-index: 1;
		position: relative;
	}

	.calendar-container {
		max-height: 280px;
		overflow: scroll;
	}

	.calendar ion-item,
	.calendar ion-item ion-label {
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
	}

	.calendar .item div,
	.calendar .item-md.item-block .item-inner,
	.calendar .item-block .item-inner {
		text-align: center;
		margin: auto;
		width: 100%;
		padding-right: 0;
		border-bottom: none;
	}

	.calendar-container ion-item {
		float: left;
	}

	.calendar-container ion-col {
		border-radius: 100%;
	}

	.active .input-wrapper {
		background-color: #ecf0f1;
	}

	.active .input-wrapper ion-label p {
	}

	.task-selector {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.task-selector .button ion-icon {
		margin-right: 10px;
	}


	.task-selector .button,
	.task-selector .button-md.activated {
		margin: 0;
		box-shadow: none;
	}
	
	.task-selector .button {
		position: relative;
	    transition: all 0.3s ease-in-out;
	    transform: translateX(-100%);
	}

	.task-selector .button:nth-child(2) {
	    transform: translateX(100%);
	}

	.task-selector.moveIn .button {
	    transform: translateX(0);
		opacity: 1;
	}

	.locked ion-label p {
		color: #bbb;
	}

	.day-info {
		width: 100%;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
		overflow: hidden;
	}

	.day-info ion-list-header {
		background-color: #eee;
		margin-bottom: 0;
	}

	.day-info ion-item {
		border-bottom: 1px solid #eee;
	}

	.day-info ion-item .item-inner {
		border-bottom: none;
	}

	.day-info-show {
		opacity: 1;
	}

	.list-md .item-block .item-inner{
		border-bottom: none;
	}

}
